build/CustomTextField.build/Release-iphoneos/CustomTextField.build/all-product-headers.yaml
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/CustomTextField-all-non-framework-target-headers.hmap
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/CustomTextField-all-target-headers.hmap
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/CustomTextField-generated-files.hmap
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/CustomTextField-own-target-headers.hmap
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/CustomTextField-PartialInfo.plist
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/CustomTextField-project-headers.hmap
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/CustomTextField.hmap
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/module.modulemap
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/unextended-module-overlay.yaml
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/unextended-module.modulemap
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/DerivedSources/CustomTextField_vers.c
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField-master.d
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField-master.dia
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField-master.swiftdeps
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField-master.swiftdeps~moduleonly
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField-OutputFileMap.json
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField-Swift.h
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField.LinkFileList
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField.o
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField.swiftdoc
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField.swiftmodule
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField_dependency_info.dat
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField_vers.d
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField_vers.dia
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/CustomTextField_vers.o
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/TextFieldWithInset.o
build/CustomTextField.build/Release-iphoneos/CustomTextField.build/Objects-normal/arm64/TextInputAccessoryView.o
build/XCBuildData/9d33d4b54d8c3f52a477e790b4914e38-desc.xcbuild
build/XCBuildData/9d33d4b54d8c3f52a477e790b4914e38-manifest.xcbuild
build/XCBuildData/build.db
build/XCBuildData/BuildDescriptionCacheIndex-3c6fd4540920a850a469c25dfeaeb29d
